.container{
  display: flex;
  height: 100%;
}
.productsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.product {
  display: flex;
  justify-content:flex-start;
  flex-flow: column wrap;
  margin: 10px;
  width: 320px;
  height: 440px;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
}